{% extends "index.html" %}



{% block content %}
<br>
<br>
<br>
<div class="content">
    <br>
    <h2><center><b>About Us</b></center></h2>
    <br>
<p><b>
    We are not an NGO, We are a group of volunteers, who decided to work for Trees. We have a clear mission “Plant a Tree, Grow a Tree, Save Future, Save Earth”. These days we are spreading our message on social media to connect with those people who want to do something for Trees.
</b></p>
<p><b>
    Because we know all living beings, including human being can’t live without oxygen. So in the first stage we connect with all those people, collect their suggestions and then finalize the best working ways. You can also help us by providing your valuable feedback, Please write us on planttrees.growtrees@gmail.com .
</b></p>
    <p><b>
    We respect your valuable feedback and if your suggestion is shortlisted, then we will list your name on our website. 

</b></p><br>

</div>

{% endblock content %}