{% extends "index.html" %}



{% block content %}
<br>
<br>
<br>
<div class="content">
    <br>
    <h2><center><b>Join Us</b></center></h2>
    <br>
<p><b>
    Earth is so big, a group of people can’t do enough to save Trees so we all have fresh and clear air all over the Earth.
</b></p>
    <p><b>
    Join your hands with us and write your valuable feelings through blog about Save Trees and Save Earth and please at least “Plant One Tree in your whole life” and spread this message “One Person One Tree”. 
</b></p><br>

</div>

{% endblock content %}